{% extends "blog.html" %}

{% block title %}About me{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>About me</h1>

      <img class="pull-right img-thumbnail" src="http://placekitten.com/300/300" alt="Me"/>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium nisl justo, sed
        malesuada urna accumsan eget. Nullam pharetra lectus vel blandit eleifend. Cras faucibus
        molestie tellus commodo imperdiet. Aliquam vel libero vel ante ultrices imperdiet. Morbi
        adipiscing nisi vitae vestibulum scelerisque. Praesent et massa nulla. Pellentesque lobortis
        blandit dignissim.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium nisl justo, sed
        malesuada urna accumsan eget. Nullam pharetra lectus vel blandit eleifend. Cras faucibus
        molestie tellus commodo imperdiet. Aliquam vel libero vel ante ultrices imperdiet. Morbi
        adipiscing nisi vitae vestibulum scelerisque. Praesent et massa nulla. Pellentesque lobortis
        blandit dignissim.</p>
    </div>
  </div>
{% endblock %}