{% extends "blog.html" %}

{% block title %}Reading List{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h4>Books</h4>
      <hr/>
      <div class="row">
        <div class="col-md-3">
          <img class="img-responsive"
               src="http://upload.wikimedia.org/wikipedia/en/8/8f/The_pragmatic_programmer.jpg">
        </div>
        <div class="col-md-9">
          <h5>
            <a
              href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=12888&destino=/scripts/resenha/resenha.asp?nitem=384009&estat_id=0&">
              The Pragmatic Programmer
            </a>
          </h5>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium nisl justo, sed
            malesuada urna accumsan eget. Nullam pharetra lectus vel blandit eleifend. Cras faucibus
            molestie tellus commodo imperdiet. Aliquam vel libero vel ante ultrices imperdiet. Morbi
            adipiscing nisi vitae vestibulum scelerisque. Praesent et massa nulla. Pellentesque
            lobortis blandit dignissim.
          </p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3">
          <img class="img-responsive" src="http://d.gr-assets.com/books/1362327774l/17354838.jpg">
        </div>
        <div class="col-md-9">
          <h5>
            <a href="https://www.jeffknupp.com/writing-idiomatic-python-ebook/">
              Writing Idiomatic Python
            </a>
          </h5>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium nisl justo, sed
            malesuada urna accumsan eget. Nullam pharetra lectus vel blandit eleifend. Cras faucibus
            molestie tellus commodo imperdiet. Aliquam vel libero vel ante ultrices imperdiet. Morbi
            adipiscing nisi vitae vestibulum scelerisque. Praesent et massa nulla. Pellentesque
            lobortis blandit dignissim.
          </p>
        </div>
      </div>
      <hr/>
    </div>
  </div>
{% endblock %}